<header class="site-header">

  <div class="wrapper">


<div class="logo">
<a class="page-link" href="{{ site.baseurl }}/" title="{{ site.title }}">
  <img src="{{ site.baseurl }}/assets/good.png" class="logo-type-good"/>
  <img src="{{ site.baseurl }}/assets/bad.png" class="logo-type-bad"/>
  <img src="{{ site.baseurl }}/assets/show.png" class="logo-type-show"/>
</a>
</div>

<div class="feed-links">
<a class="feed-link" href="http://feed.goodbad.show/goodbadfeed">    <img src="{{ site.baseurl }}/assets/rss.png" />
</a><a class="feed-link" href="https://itunes.apple.com/us/podcast/good-bad-show/id1095158552?mt=2">    <img src="{{ site.baseurl }}/assets/itunes.png" />
</a></div>

   

    <nav class="site-nav">

      <div class="trigger">
         <a class="page-link" href="{{ site.baseurl }}/" title="{{ site.title }}">Episodes</a>

        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
