<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">


<div class="episode-wrapper">
  {% for post in site.posts do %}
  <div class="episode">
    <div class="episode-number">{{ post.episode }}</div>
    <div class="episode-date">{{ post.date | date: "%B %-d, %Y" }}</div>
    <h2 class="episode-title"><a href="{{ post.url | prepend: site.baseurl}}"> {{ post.title }}</a></h2>
  </div>
  {% endfor %}
</div>
      </div>
    </div>

  

    {% include footer.html %}

  </body>

</html>
